<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Aubrey Lengwate</h2>
        </div>
        <img src="https://scontent-jnb1-1.xx.fbcdn.net/v/t1.6435-9/151650036_10223990963903645_8573819662909307303_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=8bfeb9&_nc_eui2=AeEz0ytn6EBS5MxZpOUSKRrCHjJK8lBzL9ceMkryUHMv1xMqMbyGTDAFImfVjjMBqoA&_nc_ohc=pVHUCfIUnXwAX9OHcpT&tn=_Y2k5kt1xvL14PHv&_nc_ht=scontent-jnb1-1.xx&oh=c82381af3323a81be37c421700cca39f&oe=60E1E45B" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/projects">Projects</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/workers">Workers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/roles">Roles</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/functions">Functions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/rolefunctions">Role Functions</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/tasks">Tasks</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/subtasks">Sub-Tasks</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">Users</a>


</mat-nav-list>
