<h1>Edit Worker Role</h1>

<form *ngIf="formGroup" class="form-field" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" label="Worker Role details">
      <div class="mat-step-container">
        <mat-form-field>
          <mat-label>Worker</mat-label>
          <mat-select matInput formControlName="workerId" placeholder="workerId">
            <mat-option *ngFor="let worker of workers" [value]="worker.workerId">
              {{worker.workerId}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select matInput formControlName="roleId" placeholder="roleId">
            <mat-option *ngFor="let role of roles" [value]="role.roleId">
              {{role.roleId}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Click on submit button if you wish to finalize the capturing of worker role details.</p>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button>Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
