<h1>Update Worker</h1>

<form *ngIf="formGroup" class="form-field" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" label="Worker details">
      <div class="mat-step-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="name">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Middle Name</mat-label>
          <input matInput formControlName="middleName" placeholder="middleName">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Surname</mat-label>
          <input matInput formControlName="surname" placeholder="surname">
        </mat-form-field>
        <mat-form-field>
          <mat-label>ID number</mat-label>
          <input matInput formControlName="idNumber" placeholder="ID number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date of Birth</mat-label>
          <input matInput formControlName="birthDate" [matDatepicker]="birthDate">
          <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
          <mat-datepicker #birthDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select matInput formControlName="gender" placeholder="gender">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{gender.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step formGroupName="1" [stepControl]="formArray?.get([1])" label="Contact Details">
      <div class="mat-step-container">
        <mat-form-field>
          <mat-label>Contact number</mat-label>
          <input matInput formControlName="contactNumber" placeholder="contact number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address Line 1</mat-label>
          <input matInput formControlName="addressLine1">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address Line 2</mat-label>
          <input matInput formControlName="addressLine2">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address Line 3</mat-label>
          <input matInput formControlName="addressLine3">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Postal Code</mat-label>
          <input matInput formControlName="postalCode">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </div>
    </mat-step>

    <mat-step formGroupName="2" [stepControl]="formArray?.get([2])" label="Employment Details">
      <div class="mat-step-container">
        <mat-form-field>
          <mat-label>Hourly Rate</mat-label>
          <input matInput formControlName="hourlyRate" placeholder="hourlyRate">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="username">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type = "password" matInput formControlName="password" placeholder="password">
        </mat-form-field>

        <mat-form-field>
          <mat-label>User Status</mat-label>
          <mat-select matInput formControlName="userStatus" placeholder="userStatus">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{status.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious type="button">Back</button>
          <button mat-button matStepperNext type="button">Next</button>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button>Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
