<h1>Edit Project</h1>

<form class="form-field" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-horizontal-stepper formArrayName="formArray">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])" label="Task details">
      <div class="mat-step-container">
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="name">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <input matInput formControlName="description" placeholder="description">
        </mat-form-field>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Click on submit button if you wish to finalize the capturing of task details.</p>
      <div>
        <button mat-button matStepperPrevious type="button">Back</button>
        <button mat-button>Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
